.photo {
    line-height: 0;
    display: block;
    float: left;
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 35px;
    border: 3px solid #a01a58;
}
.headers {
    padding-top: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
}
.body {
    background-color: #E6E6FA;
}
.maintext {
    max-width: 1000px;
    font-size: 15px;
}
.headers2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 14px;
}
.tag {
    font-size: 17px;
    color: #a01a58;
}
.qwe {
    max-width: 1000px;
}